<!DOCTYPE html>
<html>
<head>
    <title>Classroom Monitor</title>
</head>
<body>
    <h1>Classroom Monitor</h1>

    <form method="POST">
        {{ form.csrf_token }}
        {{ form.search.label }}<br>
        {{ form.search(size=20) }}<br>
        {{ form.submit() }}
    </form>

    {% if path %}
        <h2>Classroom: {{ path.split('/')[-2] }}</h2>
        <img src="{{ url_for('static', filename=path) }}" alt="cctv image">
        <h2>Human Count: {{ human_count }}</h2>
    {% endif %}
</body>
</html>